* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
    background: whitesmoke;
    font-family: Helvetica, sans-serif;
    color: rgb(102, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 591px;
    height: 399px;
    perspective: 800px; 
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
 .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    font-family: Helvetica, sans-serif;
    color: rgb(231, 231, 231);
    background-color:#eb8291;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .back {
    background-color: #f0f0f0;
    color: #000000;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    padding: 50px 25px 50px 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: "Playwrite CU", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 90%;
  }

  #title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    /*add element to place it on center top*/
  }

  #address {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    text-align: right;
    padding: 0 20px 0 0;
  }

  .welcome-note{
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    text-align: left;
    padding: 5px 300px 0 25px;
  }

  .email {
    font-family: "Poppins", sans-serif;
    font-size: 90%;
    padding: 100px 0 0 25px;
  }